@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 639px) {
    @content;
  }
}

.carousel {
  margin: 0 auto;
  max-width: 1232px;
  margin-bottom: 107px;
  min-width: 320px;
  text-align: center;

  ;

  &__main-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }

  &__banner {
    content: url('../../assets/img/Banner-small.png');
    width: 100%;
    margin: 0 auto;
    object-fit: fill;

    @include onTablet {
      content: '';
      width: 100%;
      margin: 0 auto;
    }

    ;

    @include onLaptop {
      content: '';
      width: 100%;
      margin: 0 auto;
    }

    ;

    @include onDesktop {
      content: '';
      width: 100%;
      height: 400px;
      max-width: 1232px;
      margin: 0 auto;
    }

    ;
  }
}

.slick {

  &-prev,
  &-next {
    display: none !important;
  }

  @include onDesktop;
  @include onLaptop;

  @include onTablet {

    &-prev,
    &-next {
      display: block !important;

      width: 32px;
      height: 100%;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      border: 1px solid #b4bdc3;
      border-radius: 48px;
      outline: none;
      padding: 14px;

      &:hover {
        border: 1px solid #0f0f11;
      }
    }

    &-prev {
      position: absolute;
      left: -50px;

      &::before {
        content: '';
        display: block;

        width: 6px;
        height: 10px;
        background-image: url('../../assets/img/arrow_left.svg');


      }
    }

    &-next {
      position: absolute;
      right: -50px;

      &::before {
        content: '';
        display: block;

        width: 6px;
        height: 10px;

        background-image: url('../../assets/img/arrow_right.svg');

      }
    }
  }

  &-dot {
    background: #e2e6e9;

    &:hover {
      background: #89939a;
    }
  }

  &-active {
    .slick-dot {
      background: #0f0f11;
    }
  }
}