@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 639px) {
    @content;
  }
}

.carousel {
  margin: 0 auto;
  max-width: 1232px;
  margin-bottom: 107px;
  min-width: 250px;
  text-align: center;

  ;

  &__main-img {
    max-height: 400px;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__banner {
    content: url('../../assets/img/Banner-small.png');
    width: 100%;
    margin: 0 auto;

    @include onTablet {
      content: '';
      margin: 0 auto;
    }

    ;

    @include onLaptop {
      content: '';
      width: 100%;
      margin: 0 auto;
    }

    ;

    @include onDesktop {
      content: '';
      width: 100%;
      height: 400px;
      max-width: 1232px;
      margin: 0 auto;
    }

    ;
  }
}

.dark_slick {
  &-prev,
  &-next {
    display: none !important;
  }

  @include onDesktop;
  @include onLaptop;

  @include onTablet {

    &-prev,
    &-next {
      display: block !important;

      width: 32px;
      height: 100%;
      background-color: #323542;

      border: 1px solid #323542;
      
      outline: none;
      padding: 14px;
      transition: all 0.3s;

      &:hover {
        border: 1px solid #905BFF;
        background-color: #905BFF;
        cursor: pointer;
      }
    }

    &-prev {
      position: absolute;
      display: flex !important;
      align-items: center;
      top: 0;
      left: -50px;

      &::before {
        content: '';
        display: block;
        position: absolute;

        width: 6px;
        height: 10px;
        background-image: url('../../assets/img/arrow_left_white.svg');
      }
    }

    &-next {
      position: absolute;
      display: flex !important;
      right: -50px;
      align-items: center;
      top: 0;

      &::before {
        content: '';
        display: block;
        position: absolute;

        width: 6px;
        height: 10px;

        background-image: url('../../assets/img/arrow_right_white.svg');

      }
    }
  }

  

  

  @include onTablet {
    &-track {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.dark_slick-dot {
  background: #3B3E4A;

  &:hover {
    background: #F1F2F9;
  }
}

.slick-active {
  .dark_slick-dot {
    background: #905BFF;
  }
}

.slick {

  &-prev,
  &-next {
    display: none !important;
  }

  @include onDesktop;
  @include onLaptop;

  @include onTablet {

    &-prev,
    &-next {
      display: flex !important;
      align-items: center;
      transition: all 0.3s;

      width: 32px;
      height: 100%;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      border: 1px solid #b4bdc3;
      border-radius: 48px;
      outline: none;
      padding: 14px;

      &:hover {
        border: 1px solid #0f0f11;
      }
    }

    &-prev {
      position: absolute;
      left: -50px;

      &::before {
        content: '';
        display: block;
        position: absolute;

        width: 6px;
        height: 10px;
        background-image: url('../../assets/img/arrow_left.svg');


      }
    }

    &-next {
      position: absolute;
      right: -50px;

      &::before {
        content: '';
        display: block;
        position: absolute;

        width: 6px;
        height: 10px;

        background-image: url('../../assets/img/arrow_right.svg');

      }
    }
  }

  &-dot {
    background: #e2e6e9;

    &:hover {
      background: #89939a;
    }
  }

  &-active {
    .slick-dot {
      background: #0f0f11;
    }
  }

  @include onTablet {
    &-track {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}