@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Mont";
  transition-duration: 300ms;
}

.custom-scrollbar-dark::-webkit-scrollbar {
  width: 12px;
  height: 14px;
}

.custom-scrollbar-dark::-webkit-scrollbar-track {
  background: #3B3E4A;
  border: solid 1px black;
  border-top: none;
  border-bottom: none;
  border-radius: 20px;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #905BFF;
  border-radius: 20px;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 14px;
}

body::-webkit-scrollbar-track {
  background: white;
  border: solid 1px #E2E6E9
}

body::-webkit-scrollbar-thumb {
  background-color: #B4BDC3;
  border-radius: 20px;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-Regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-Light.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

